<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
</head>
<body>
  <h3>Информация о товаре</h3>
  <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
  <p th:text="'Описание: ' + ${product.getDescription()}"></p>
  <p th:text="'Цена: ' + ${product.getPrice()}"></p>
  <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
  <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
  <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
  <div class="goods_img" th:each="img: ${product.getImageList()}">
    <img th:src="'/img/' + ${img.getFilename()}">
  </div>
  <a class="addtocart" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
</body>
</html>